<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         printerFile="../../src/Printer.php"
         printerClass="mheap\GithubActionsReporter\Printer"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="../../vendor/autoload.php"
>

</phpunit>
